a{
  color: blue;
}
a:visitied{
  color: blue;
}
a:active{
  color: blue;
}
a:hover {
  color: rgb(92, 92, 252);
}
body {
  margin: 0;
  background-color: #f7e6bb;
}
div {
  padding: 1em;
}
hr {
  border: 0.5px solid black;
  margin: 0px;
}
.tableofcontents {
  background-color: #fbe6db;
}
.chapter1 {
  background-color: #c9edf9;
}
.chapter2 {
  background-color: #ffdede;
}
.chapter3 {
  background-color: #eac3ff;
}
.chapterTitle {
  margin-block-start: 0;
}

#boxModelExample {
  color: rgb(213, 255, 149);
  background-color: rgb(247, 113, 113);
  font-size: 10pt;
  padding: 10pt;
  width: min-content;
  border: indigo;
  border-style: double;
  border-width: 5pt;
  margin: 1em;
}
